# Calculating Average of Numbers Using Functions

In [5]:
def Avg(num) :
  sum = 0
  for i in num:
    sum += i
  return sum/len(num)

# Example usage
numbers = [10, 20, 30, 40, 50]
average = Avg(numbers)
print(f"The average of {numbers} is: {average}")

The average of [10, 20, 30, 40, 50] is: 30.0

# Finding the Longest Word in a List

In [6]:
def find_longest_word(words):
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

# Example usage
words = ["apple", "banana", "cherry", "date"]
longest_word = find_longest_word(words)
print(f"The longest word in the list is: {longest_word}")

The longest word in the list is: banana

# Checking if a Number is Prime

In [7]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Example usage
num = 29
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

29 is a prime number.

# Converting Temperature Units

In [14]:
def convert_temperature(value, current_unit, target_unit):

    current_unit = current_unit.upper()
    target_unit = target_unit.upper()

    if current_unit == target_unit:
        return value

    # Convert to Celsius as an intermediate step
    if current_unit == 'F':
        celsius = (value - 32) * 5 / 9
    elif current_unit == 'K':
        celsius = value - 273.15
    elif current_unit == 'C':
        celsius = value
    else:
        print("Invalid current unit. Choose 'C', 'F', or 'K'.")

    # Convert from Celsius to target unit
    if target_unit == 'F':
        return celsius * 9 / 5 + 32
    elif target_unit == 'K':
        return celsius + 273.15
    elif target_unit == 'C':
        return celsius
    else:
        print("Invalid target unit. Choose 'C', 'F', or 'K'.")

# Example usage
value = 100
current_unit = 'C'
target_unit = 'F'

converted_value = convert_temperature(value, current_unit, target_unit)
print(f"{value}째{current_unit} is equal to {converted_value:.2f}째{target_unit}")

100째C is equal to 212.00째F

# Generating a List of Squares Using List Comprehension and Functions

In [15]:
def generate_squares(n):

    return [x ** 2 for x in range(1, n + 1)]

# Example usage
n = 10
squares_list = generate_squares(n)
print(f"The squares of numbers from 1 to {n} are: {squares_list}")

The squares of numbers from 1 to 10 are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Converting a List of Strings to Uppercase

In [16]:
def convert_to_uppercase(strings):
    return [string.upper() for string in strings]

# Example usage
strings_list = ["apple", "banana", "cherry", "date"]
uppercase_list = convert_to_uppercase(strings_list)
print(f"Original list: {strings_list}")
print(f"Uppercase list: {uppercase_list}")

Original list: ['apple', 'banana', 'cherry', 'date']
Uppercase list: ['APPLE', 'BANANA', 'CHERRY', 'DATE']

# Calculating the Total Price Including Tax

In [18]:
def calculate_total_price(price, tax_rate):

    if price < 0 or tax_rate < 0:
        print("Price and tax rate must be non-negative.")
    tax = price * (tax_rate / 100)
    return price + tax

# Example usage
price = 100.0
tax_rate = 5.0

total_price = calculate_total_price(price, tax_rate)
print(f"The total price including a {tax_rate}% tax is: ${total_price:.2f}")

The total price including a 5.0% tax is: $105.00

# Finding the Minimum and Maximum Values in a List

In [20]:
def find_min_max(numbers):
    if not numbers:
        return None, None

    min_value = min(numbers)
    max_value = max(numbers)
    return min_value, max_value

# Example usage
numbers_list = [5, 12, 7, 3, 19, 1]
minimum, maximum = find_min_max(numbers_list)
print(f"The minimum value in the list is: {minimum}")
print(f"The maximum value in the list is: {maximum}")

The minimum value in the list is: 1
The maximum value in the list is: 19

# Checking if a String is a Valid Email Address

In [27]:
def is_valid_email(email):

    if '@' not in email:
        return False
    parts = email.split('@')
    if len(parts) != 2:
        return False

    username, domain = parts
    if not username or not domain:
        return False

    if '.' not in domain:
        return False

    return True

# Example usage
email = "salmaalsaid0@gmail.com"
if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

# Counting the Frequency of Each Character in a String

In [25]:
def count_character_frequency(string):
    frequency = {}
    for char in string:
        frequency[char] = frequency.get(char, 0) + 1
    return frequency

# Example usage
input_string = "hello world"
character_frequency = count_character_frequency(input_string)
print("Character frequency:")
for char, freq in character_frequency.items():
    print(f"'{char}': {freq}")

Character frequency:
'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1