## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [1]:
result = []

for number in range(1500, 2701):
    # Check if the number is divisible by 7 and a multiple of 5
    if number % 7 == 0 and number % 5 == 0:
        result.append(number)

print("Numbers divisible by 7 and multiples of 5 between 1500 and 2700 are:")
print(result)

Numbers divisible by 7 and multiples of 5 between 1500 and 2700 are:
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [2]:
import random
target_number = random.randint(1, 9)

while True:
    guess = int(input("Guess a number between 1 and 9: "))

    # Check if the guess is correct
    if guess == target_number:
        print("Well guessed!")
        break
    else:
        print("Try again!")

Guess a number between 1 and 9: 5
Try again!
Guess a number between 1 and 9: 2
Try again!
Guess a number between 1 and 9: 1
Try again!
Guess a number between 1 and 9: 9
Try again!
Guess a number between 1 and 9: 3
Try again!
Guess a number between 1 and 9: 4
Try again!
Guess a number between 1 and 9: 6
Well guessed!

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [3]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i, end=' ')

0 1 2 4 5

## 4. Write a Python program to construct the following pattern, using a nested for loop.

In [4]:
# Number of rows for the first half of the pattern
rows = 5

# Print the first half of the pattern
for i in range(1, rows + 1):
    print("* " * i)

# Print the second half of the pattern
for i in range(rows - 1, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
# Number of rows for the first half of the pattern
rows = 6

# Print the first half of the pattern
for i in range(1, rows + 1):
    print("* " * i)

# Print the second half of the pattern
for i in range(rows - 1, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
# Number of rows for the top half of the diamond
rows = 8

# Print the top half of the diamond
for i in range(1, rows + 1):
    # Print leading spaces
    print(" " * (rows - i) + "* " * i)

# Print the bottom half of the diamond
for i in range(rows - 1, 0, -1):
    # Print leading spaces
    print(" " * (rows - i) + "* " * i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

## 5. Write a Python program that accepts a word from the user and reverses it.

In [8]:
word = input("Enter a word: ")
reversed_word = word[::-1]
print("Reversed word:", reversed_word)

Enter a word: salma
Reversed word: amlas

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [9]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 4
Number of odd numbers: 5

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .

In [12]:
pattern_S = [
    " ***** ",
    "*      ",
    " ***** ",
    "      *",
    " ***** "
]

# Print the pattern for "S"
for line in pattern_S:
    print(line)

 *****
*
 *****
      *
 *****

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:
``
1
22
333
4444
55555
666666
7777777
88888888
999999999
``

In [13]:
# Number of rows for the pattern
rows = 9

# Print the pattern
for i in range(1, rows + 1):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [15]:
number = int(input("Input a number: "))

# Use a nested loop to print the multiplication table
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [26]:
total_sum = 0
count = 0

while True:
    number = int(input("Enter an integer number (enter 0 to finish): "))
    if number == 0:
        break
    total_sum += number
    count += 1

# Calculate average if count is not zero
if count > 0:
    average = total_sum / count
else:
    average = 0

print("The sum of the numbers is:", total_sum)
print("The average of the numbers is:", average)

Enter an integer number (enter 0 to finish): 1
Enter an integer number (enter 0 to finish): 2
Enter an integer number (enter 0 to finish): 5
Enter an integer number (enter 0 to finish): 6
Enter an integer number (enter 0 to finish): 0
The sum of the numbers is: 14
The average of the numbers is: 3.5

# 11-Python Program to Print the Fibonacci sequence

In [28]:
n = int(input("Enter the number of terms: "))

# Initializing the first two terms of the Fibonacci sequence
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 10
0 1 1 2 3 5 8 13 21 34

# Finding maximum value in a list

In [29]:
numbers = [10, 20, 5, 30, 25]

max_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num

print("The maximum value in the list is:", max_value)

The maximum value in the list is: 30

# counting Vowels in a string

In [30]:
text = "Hello, how many vowels are in this sentence?"
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 13

# finding prime Numbers within a range

In [32]:
start = 10
end = 50

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num,"is a prime number")

11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number

# A Program that Simulating a Basic ATM Withdrawal

In [34]:
class ATM:
    def __init__(self, balance):
        self.balance = balance

# Initial balance is $1000
atm = ATM(1000)

while True:
    print("\nATM Menu:")
    print("1. Check Balance")
    print("2. Withdraw")
    print("3. Deposit")
    print("4. Exit")

    choice = input("Please choose an option (1-4): ")

    if choice == '1':
        print(f"Your current balance is: ${atm.balance}")

    elif choice == '2':
        amount = float(input("Enter amount to withdraw: $"))
        if amount <= atm.balance:
            atm.balance -= amount
            print(f"Withdrawal successful! You have withdrawn ${amount}.")
            print(f"Remaining balance: ${atm.balance}")
        else:
            print("Insufficient funds! Please enter a valid amount.")

    elif choice == '3':
        amount = float(input("Enter amount to deposit: $"))
        atm.balance += amount
        print(f"Deposit successful! You have deposited ${amount}.")
        print(f"New balance: ${atm.balance}")

    elif choice == '4':
        print("Thank you for using our ATM. Goodbye!")
        break

    else:
        print("Invalid choice! Please select an option between 1 and 4.")

ATM Menu:
1. Check Balance
2. Withdraw
3. Deposit
4. Exit
Please choose an option (1-4): 3
Enter amount to deposit: $500
Deposit successful! You have deposited $500.0.
New balance: $1500.0

ATM Menu:
1. Check Balance
2. Withdraw
3. Deposit
4. Exit
Please choose an option (1-4): 2
Enter amount to withdraw: $1000
Withdrawal successful! You have withdrawn $1000.0.
Remaining balance: $500.0

ATM Menu:
1. Check Balance
2. Withdraw
3. Deposit
4. Exit
Please choose an option (1-4): 1
Your current balance is: $500.0

ATM Menu:
1. Check Balance
2. Withdraw
3. Deposit
4. Exit
Please choose an option (1-4): 4
Thank you for using our ATM. Goodbye!

# Finding Common Elements in Two Lists

In [35]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for element in list1:
    if element in list2:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

# Calculating Factorial of a Number

In [37]:
number = int(input("Enter a number: "))

factorial = 1

for i in range(1, number + 1):
    factorial *= i

print(f"The factorial of {number} is: {factorial}")

Enter a number: 5
The factorial of 5 is: 120

# Validating User Input with While Loop

In [39]:
while True:
    user_input = input("Enter a positive integer: ")

    try:
        number = int(user_input)
        if number > 0:
            print(f"You entered the valid number: {number}")
            break  # Exit the loop if input is valid
        else:
            print("The number must be greater than zero.")
    except ValueError:
        print("Invalid input! Please enter a valid positive integer.")

Enter a positive integer: -5
The number must be greater than zero.
Enter a positive integer: s
Invalid input! Please enter a valid positive integer.
Enter a positive integer: 3
You entered the valid number: 3

# Finding the Sum of Digits of a Number

In [43]:
number = int(input("Enter a number: "))

sum_of_digits = 0

while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10

print("The sum of digits is:", sum_of_digits)

Enter a number: 5622
The sum of digits is: 15

# Checking for Palindrome Strings

In [46]:
user_input = input("Enter a string: ")

if user_input == user_input[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: racecar
The string is a palindrome.

# Creating a Dictionary from Two Lists

In [50]:
keys = ['Name', 'Age', 'City']
values = ["Salma", 22 , "Cairo"]

my_dict = dict(zip(keys, values))

print(my_dict)

{'Name': 'Salma', 'Age': 22, 'City': 'Cairo'}

# Simulating a Simple Password Check

In [51]:
password = "mypassword"

while True:
    user_input = input("Enter the password: ")

    if user_input == password:
        print("Access granted!")
        break  # Exit the loop if password is correct

    else:
        print("Access denied! Incorrect password.")

Enter the password: 1234
Access denied! Incorrect password.
Enter the password: mypassword
Access granted!

# Generating a Multiplication Table for a Given Number

In [53]:
number = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60